html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #BE73B1, #87B1E3);
  font-family: sans-serif;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.top-right {
  position: fixed;
  top: 0;
  right: 0;
}
.top-left {
  position: fixed;
  top: 0;
  left: 0;
}
span.loading,
span.error {
  color: white;
}
span.loading {
  background-color: black;
}
span.error {
  background-color: red;
}
circle:hover {
  cursor: pointer;
}