:root {
  --white: #fbfbfb;
  --black: #222;
  --pink: #ff003f;
  --blue: #0084ff;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
  font-family: sans-serif;
  font-size: 15px;
  color: var(--blue);
}
header {
  z-index: 2;
  padding: 1rem;
  border-bottom: 1px solid var(--blue);
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
header :last-child {
  border-left: 1px solid var(--blue);
}
h1 {
  font-variant: small-caps;
  padding: 1rem;
  margin: -1rem 0 -1rem -1rem;
  background-color: var(--blue);
  color: var(--white);
  display: inline-block;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
input {
  font-size: 1.6rem;
  width: 0px;
  transition: width 0.4s ease;
}
button {
  padding: 1rem;
  margin: -1rem -1rem -1rem 0;
  background-color: var(--white);
}
::placeholder {
  opacity: 1;
}
button svg {
  margin-bottom: -5px;
}
form:hover input,
input:focus {
  width: 140px;
}
marquee {
  padding: 1rem 0;
  background-color: var(--white);
}
circle:hover {
  cursor: pointer;
}
#track-info {
  position: fixed;
  top: 4rem;
  left: 1rem;
  padding: 1rem;
  border: 1px solid var(--blue);
  background-color: var(--white);
}