:root {
  --white: #fbfbfb;
  --black: #222;
  --pink: #ff003f;
  --blue: #0084ff;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
  font-family: sans-serif;
  font-size: 15px;
  color: var(--black);
}
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}
.pin-top-right {
  position: fixed;
  top: 0;
  right: 0;
}
.pin-top-left {
  position: fixed;
  top: 0;
  left: 0;
}
h1 {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
}
circle:hover {
  cursor: pointer;
}